
@model eApoteka.Models.Proizvod

@{
    ViewData["Title"] = "ProductDetailsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Naziv Information</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #fff;
            color: #333;
        }

        .header-custom {
            text-align: center;
            padding-top: 60px;
            padding-bottom: 30px;
        }

            .header-custom h2 {
                color: #659934;
                font-weight: 600;
                font-size: 3em;
            }

        .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
        }

        .content-text1, .content-text2 {
            flex: 1;
            justify-content: space-between;
            padding-right: 40px;
        }

        .content-text ul {
            padding-left: 20px;
        }

        .content-image {
            flex: 1;
            min-width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }

            .content-image img {
                max-width: 100%;
                height: auto;
                border-radius: 10px;
            }

        .additional-link {
            margin-top: 38px;
        }

            .additional-link a {
                color: #659934;
                text-decoration: none;
            }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .content-text1 p, .content-text2 p {
            text-align: justify;
        }

        .btn-plus-container {
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;
            margin-bottom: 20px;
        }

        .btn-plus {
            background-color: #659934;
            color: white;
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        .btn-plus:hover {
                text-decoration: none;
                color: white;
                background-color: rgba(101, 153, 52, 0.8);
                border-color: rgba(101, 153, 52, 0.8);
        }

        .typeAndQuantity {
            display: inline-flex;
            
        } 
        .typeAndQuantityTitle {
             font-weight: bold;
             margin-right: 5px;
        }
        .typeAndQuantityText {
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header-custom">
            <h2>@Model.Naziv</h2>
        </div>
        <div class="content">
            <div class="content-text1">
                <p>@Model.Opis</p>
                <div class="typeAndQuantity">
                    <p class="typeAndQuantityTitle">Type: </p>
                    <p class="typeAndQuantityText"> @Model.Vrsta </p>
                    <p class="typeAndQuantityTitle">Quantity: </p>
                    <p class="typeAndQuantityText"> @Model.Kolicina </p>
                </div>

            </div>
            <div class="content-text2">
                <div class="content-image">
                    <img src="@Model.ImageUrl" alt="@Model.Naziv Image">
                </div>
                <div class="typeAndQuantity">
                    <p class="typeAndQuantityTitle">Price: </p>
                    <p class ="typeAndQuantityText"> @Model.Cijena $</p>
                </div>
            </div>
        </div>
        <div class="btn-plus-container">
            <a href="@Url.Action("AddToOrder", "OrderDetails", new { id = Model.Id })" class="btn-plus">+</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

