@model eApoteka.Models.Narudzba

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Narudzba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetaljPlacanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetaljPlacanja.StatusPlacanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetaljDostave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetaljDostave.AdresaDostave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apotekar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apotekar.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNarudzbe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNarudzbe.TrenutniStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
