@model eApoteka.Models.Narudzba

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Narudzba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetaljPlacanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetaljPlacanja.StatusPlacanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetaljDostave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetaljDostave.AdresaDostave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apotekar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apotekar.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNarudzbe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNarudzbe.TrenutniStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
